@charset "UTF-8";
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

.cf:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.cf {
  display: inline-block; }

/* start commented backslash hack \*/
* html .cf {
  height: 1%; }

.cf {
  display: block; }

/* close commented backslash hack */
a {
  outline: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* No Icon Set */
/* Icons for KZ Footer */
@font-face {
  font-family: 'kz-fontello';
  src: url("fonts/kz-fontello.eot?59247950");
  src: url("fonts/kz-fontello.eot?59247950#iefix") format("embedded-opentype"), url("fonts/kz-fontello.woff?59247950") format("woff"), url("fonts/kz-fontello.ttf?59247950") format("truetype"), url("fonts/kz-fontello.svg?59247950#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59247950#fontello') format('svg');
  }
}
*/
.kz-icon:before {
  font-family: "kz-fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.kz-icon-heart-empty:before {
  content: '\e810'; }

/* '' */
.kz-icon-arizona:before {
  content: '\e811'; }

/* '' */
.navbar {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, transparent));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.3) 0%, transparent 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, transparent 100%); }
  .navbar .logo {
    display: inline-block; }
  .navbar ul a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    padding: 3px 5px;
    line-height: 1em; }
    .navbar ul a:hover {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5); }
  .navbar ul {
    float: right; }
  .navbar li {
    padding: 0 .3em;
    display: inline-block;
    line-height: 50px; }
  .navbar.sticky {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); }
    .navbar.sticky a {
      color: #666; }
      .navbar.sticky a:hover {
        color: #fff;
        background-color: #00b1b0; }
    .navbar.sticky .logo {
      background: url(../img/logo-color.png) no-repeat top left scroll; }
      .navbar.sticky .logo img {
        opacity: 0; }
      .navbar.sticky .logo:hover {
        background-color: transparent; }

.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100px;
  height: 70px;
  text-align: center; }
  .navbar-toggle .navicon-button {
    margin-top: 20px; }
  .navbar-toggle.sticky {
    color: #666; }

.open {
  background: #000; }
  .open .wrapper {
    opacity: .6; }
  .open .mobile-menu {
    right: 0; }

@media all and (max-width: 675px) {
  .navbar ul {
    display: none; }

  .mobile-menu {
    background: #00b1b0;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100px;
    width: 100px;
    padding-top: 72px;
    z-index: 4; }
    .mobile-menu li {
      display: block;
      text-align: center;
      padding: 0 .3em;
      line-height: 50px;
      border-bottom: 1px solid #00c0bf; }
      .mobile-menu li:nth-child(1) {
        border-top: 1px solid #00c0bf; }
    .mobile-menu a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      display: inline-block;
      padding: 3px 5px;
      line-height: 1em; } }
@media all and (min-width: 675px) {
  .navbar-toggle, .mobile-menu {
    display: none; } }
.sticky .navicon {
  background: #666; }
  .sticky .navicon:before, .sticky .navicon:after {
    background: #666; }
.sticky .open-button .navicon {
  background: #fff; }
  .sticky .open-button .navicon:before, .sticky .open-button .navicon:after {
    background: #fff; }

.navicon-button {
  display: inline-block;
  position: relative;
  padding: .8rem 0;
  transition: 0.25s;
  cursor: pointer;
  user-select: none; }
  .navicon-button .navicon:before, .navicon-button .navicon:after {
    transition: 0.25s; }
  .navicon-button span {
    display: block; }

.navicon {
  position: relative;
  width: 2em;
  height: 0.2rem;
  background: #fff;
  transition: 0.5s;
  border-radius: 2rem; }
  .navicon:before, .navicon:after {
    display: block;
    content: "";
    height: 0.2rem;
    width: 2rem;
    background: #fff;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.25s;
    border-radius: 1rem; }
  .navicon:before {
    top: 0.5rem; }
  .navicon:after {
    top: -0.5rem; }

.open-button:not(.steps) .navicon:before,
.open-button:not(.steps) .navicon:after {
  top: 0 !important; }

.open-button .navicon:before,
.open-button .navicon:after {
  transition: 0.5s; }

.open-button.x .navicon {
  background: transparent; }
  .open-button.x .navicon:before {
    transform: rotate(-45deg); }
  .open-button.x .navicon:after {
    transform: rotate(45deg); }

/* full page video background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; }
  .video-background h1 {
    z-index: -2;
    text-align: center;
    padding: 3em;
    color: #ddd;
    line-height: 1.5em; }

.home-intro {
  height: 100vh;
  position: relative;
  z-index: 2; }
  .home-intro .message {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 1em;
    text-align: center; }
  .home-intro h2 {
    font-size: 6vw;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase; }
    .home-intro h2 em {
      font-size: .5em; }
  .home-intro button {
    font-size: 4em;
    color: #fff;
    background: none;
    border: none; }

@media all and (max-width: 450px) {
  .home-intro h2 {
    font-size: 10vw; } }
.home-services {
  background: #fff;
  padding: 10vw;
  position: relative;
  z-index: 2; }
  .home-services .inner {
    max-width: 980px;
    margin: 0 auto;
    font-weight: 300; }
  .home-services .content {
    float: left;
    width: 50%; }
  .home-services ul {
    margin-left: 60%; }
  .home-services h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 80px 5px 0;
    border-bottom: 1px solid #00b1b0;
    margin-bottom: 2em; }
  .home-services h3 {
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: .7em; }
  .home-services p {
    font-size: 1.1em;
    line-height: 1.5em; }
  .home-services li {
    font-size: 1.3em;
    margin-bottom: 1em;
    color: #00b1b0;
    font-weight: 600;
    text-transform: uppercase; }

.home-about {
  background: #fff;
  padding: 10vw;
  position: relative;
  z-index: 2; }
  .home-about .inner {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 300; }
  .home-about h2 {
    font-size: 2.2em;
    line-height: 1.5em;
    margin-bottom: .5em; }
  .home-about p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 4em; }
  .home-about li {
    display: inline-block;
    color: #00b1b0;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 1em;
    margin-bottom: 2em; }

/* full page video background */
.home-work {
  background: rgba(0, 177, 176, 0.7); }

.even-three .mix {
  width: 33.33%; }

.grid-mix .mix {
  width: 33.3%; }
  .grid-mix .mix:nth-child(1), .grid-mix .mix:nth-child(4) {
    width: 50%; }
  .grid-mix .mix:nth-child(2), .grid-mix .mix:nth-child(3) {
    width: 25%; }

.slides .mix {
  display: none;
  overflow: hidden;
  float: left;
  background: #000;
  position: relative; }
  .slides .mix:hover img {
    opacity: .3;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  .slides .mix:hover .meta {
    bottom: 20px;
    opacity: 1; }
.slides a {
  display: block; }
.slides img {
  width: 100%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }
.slides .meta {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  width: 100%;
  bottom: -70px;
  left: 0;
  height: 70px;
  text-align: center;
  color: #fff;
  line-height: 1.4em;
  opacity: 0; }
  .slides .meta strong, .slides .meta em, .slides .meta span {
    display: block; }
  .slides .meta span {
    font-size: 1.4em; }
  .slides .meta strong, .slides .meta em {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8em;
    color: #b3b3b3; }

.work-menu {
  max-width: 980px;
  margin: 0 auto;
  padding: 2em 0;
  color: #fff;
  text-align: center; }
  .work-menu div {
    color: #fff;
    font-size: .9em;
    cursor: pointer; }
  .work-menu .title {
    color: #fff;
    font-weight: 600;
    text-transform: uppercase; }
  .work-menu li {
    display: inline-block;
    padding: 0 .5em; }

/* Open Sans
Light 300
Normal 400
Semi-Bold 600
Bold 700
Extra-Bold 800
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #eee;
  color: #333;
  position: relative;
  margin: 0; }

body, button, label {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

a {
  color: #00b1b0;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #007e7d; }

/* KZ Love Footer */
.site-design {
  background: #e5e5e5;
  color: #999;
  padding: 10px; }
  .site-design a {
    display: block;
    color: #999; }
    .site-design a:hover {
      color: #e13c3b; }
      .site-design a:hover .kz-icon-arizona {
        color: #e13c3b; }
  .site-design .made-in-az {
    position: relative;
    font-size: 14px;
    padding-left: 35px; }
  .site-design span {
    display: block;
    line-height: 25px;
    text-transform: uppercase;
    font-weight: bold; }
  .site-design i {
    position: absolute; }
  .site-design .kz-icon-arizona {
    top: 0;
    left: 0;
    font-size: 25px; }
  .site-design .kz-icon-heart-empty {
    color: #e5e5e5;
    font-size: 11px;
    top: 6px;
    left: 11px; }
