
// Top Navigation with Sticky formatting
.navbar {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  @include transition(all .5s ease-in);

  background: -moz-linear-gradient(top,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);

  .logo {
    display: inline-block;
  }
  ul a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    display: inline-block;
    padding: 3px 5px;
    line-height: 1em;
    &:hover {
      color: #fff;
      background-color: rgba(#000,.5);
    }
  }
  ul {
    float: right;
  }
  li {
    padding: 0 .3em;
    display: inline-block;
    line-height: $nav-height - 20px; // remove padding from navbar
  }

  &.sticky {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(#000,.2);
    a {
      color: #666;
      &:hover {
        color: #fff;
        background-color: $main-color;
      }
    }
    .logo {
      background: url(../img/logo-color.png) no-repeat top left scroll;
      img {
        opacity: 0;
      }
      &:hover {
        background-color: transparent;
      }
    }
  }
}

// Mobile Nav
.navbar-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  width: 100px;
  height: $nav-height;
  text-align: center;
  .navicon-button {
    margin-top: 20px;
  }
  &.sticky {
    color: #666;
  }
}
.open {
  background: #000;
  //@include transition(all .5s ease-in);
  .wrapper {
    //transform: translateX(-100px);
    opacity: .6;
  }
  .mobile-menu {
    right: 0;
  }
  .navbar {
    //left: -100px;
  }
}
// Responsive 
@media all and (max-width: 675px) { 
  .navbar ul {
    display: none;
  }
  .mobile-menu {
    background: $main-color;
    position: fixed;
    top: 0; bottom: 0;
    right: -100px;
    width: 100px;
    padding-top: $nav-height + 2;
    z-index: 4;
    li {
      display: block;
      text-align: center;
      padding: 0 .3em;
      line-height: $nav-height - 20px; // remove padding from navbar
      border-bottom: 1px solid lighten($main-color,3);
      &:nth-child(1) {
        border-top: 1px solid lighten($main-color,3);
      }
    }
    a {
      color: #fff;
      text-transform: uppercase;
      font-weight: 300;
      display: inline-block;
      padding: 3px 5px;
      line-height: 1em;
    }
  }
}
@media all and (min-width: 675px) {  
  .navbar-toggle, .mobile-menu {
    display: none;
  }
}

@media all and (min-width: 800px) {

}
