$body-background: #eee;

$page-background: $body-background;
$page-width: 980px;
$main-color: #00b1b0;

$font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$accent-font: 'Times New Roman', sans-serif;

$font-color: #333;
$link: $main-color;