/* full page video background */
.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  h1 {
    z-index: -2;
    text-align: center;
    padding: 3em;
    color: #ddd;
    line-height: 1.5em;
  }
}
.home-intro {
  //width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 2;
  .message {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
    padding: 1em;
    text-align: center;
  }
  h2 {
    font-size: 6vw;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    em {
      font-size: .5em;
    }
  }
  button {
    font-size: 4em;
    color: #fff;
    background: none;
    border: none;

  }
}
.home-services {
  background: #fff;
  padding: 10vw;
  position: relative;
  z-index: 2;
  .inner {
    max-width: $page-width;
    margin: 0 auto;
    font-weight: 300;
  }
  .content {
    float: left;
    width: 50%;
  }
  ul {
    margin-left: 60%;
  }
  h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 80px 5px 0;
    border-bottom: 1px solid $main-color;
    margin-bottom: 2em;
  }
  h3 {
    font-size: 2em;
    line-height: 1.3em;
    margin-bottom: .7em;
  }
  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }
  li {
    font-size: 1.3em;
    margin-bottom: 1em;
    @include accent-font($main-color);
  }
}
.home-about {
  background: #fff;
  padding: 10vw;
  position: relative;
  z-index: 2;
  .inner {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    font-weight: 300;
  }
  h2 {
    font-size: 2.2em;
    line-height: 1.5em;
    margin-bottom: .5em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.5em;
    margin-bottom: 4em;
  }
  li {
    display: inline-block;
    color: $main-color;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 1em;
    margin-bottom: 2em;
  }
}



